*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1100px;
    margin: 0 auto;
}

.wrapper{
    height: 450px;
    width: 900px;
    position: relative;
}

.flag,
.coatOfArms,
.navigation{
    position: absolute;
    /* width: 100%;
    height: 100%; */
}

.flag {
    box-shadow: 0px 0px 10px 3px #0000005d;
}

.coatOfArms{
    top: 30px;
    left: 650px;
}

.navigation{
    top: 420px;
    left: 175px;
    display: flex;
    justify-content: center;
    font-size: large;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006bb4;
    box-shadow: 0px 0px 10px 0px #0000005d;
    border-radius: 6px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #004370;
}

header {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.active {
    background-color: #ffdc7d;
    color: black
}

.active:hover {
    background-color: #ffd664;
}

article {
    padding: 20px;
    font-size: 16pt;
    box-shadow: 0px 0px 10px 1px #0000005d;
    border-radius: 10px;
    width: 900px;
}

article h1 {
    color: #09619c;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

article p {
    letter-spacing: 1px;
}

.articleContainer {
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

table {
    width: 100%;
}

th {
    padding-bottom: 10px;
}

td {
    padding-bottom: 20px;
}

input {
    display: inline-block;
    margin: 10px auto;
    border: 2px solid #eee;
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
}

.inputBtn {
    background-color: #006bb4;
    color: white;
}

.leftimg {
    float:left;
    margin: 10px 10px 10px 0px;
}

.rightimg  {
    float: right;
    margin: 10px 0px 10px 10px;
}

.inputBtn:hover {
    background-color: #004370;
}

textarea {
    display: inline-block;
    margin: 10px auto;
    border: 2px solid #eee;
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
}

.date {
    width: 10%;
}

.action {
    width: 20%;
}

.description {
    width: 70%;
}
tr{background-color: #4EB5FC;

}